# Relabelling test dataset
Nov 2, 2020

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import subprocess as sp
import pickle
import time

In [9]:
%matplotlib widget

In [10]:
! ls relabeling_test_data/

df_images_labels.pkle  test_data_relabeling_results.csv

In [11]:
main_dir='/global/cfs/cdirs/dasrepo/vpa/supernova_cnn/data/results_data/results/test_with_new_labels/'

In [24]:
fname='relabeling_test_data/test_data_relabeling_results.csv'
df1=pd.read_csv(fname,sep=',',comment='#')
df1.head()

         ID  old_label  changed_label  final_label
0  10593439          1              0            0
1   7046325          1              0            0
2   8460177          1              0            1
3   1199533          1              0            0
4   7749687          1              0            0

In [25]:

df_full=pd.DataFrame([])
df_full['ID']=np.loadtxt(main_dir+'id_test_3.test').astype(np.int32)
df_full['old_Label']=np.loadtxt(main_dir+'old_ytest_3.test').astype(np.int16)
df_full['new_Label']=df_full['old_Label']
df_full.head()

         ID  old_Label  new_Label
0   9706039          1          1
1  11177538          0          0
2   8624980          1          1
3  11192359          1          1
4  10891233          1          1

In [26]:
changed_IDs=df1[df1.old_label!=df1.final_label].ID.values
changed_IDs.shape

(633,)

In [27]:
# np.array([i for i in df1.ID.values if i not in df_full.ID.values]) # ensuring that all IDs in csv are in original set

In [28]:
# for i in df1.ID.values:
#     ## Old labels match
#     if not (df1[df1.ID==i].old_label.values[0]==df_full[df_full.ID==i].old_Label.values[0]):
#         print(i)

In [36]:
for IDs in changed_IDs:
    index=df_full[df_full.ID==IDs].index[0]
    old_label=df_full.loc[index]['old_Label']
    new_label=df1[df1.ID==IDs]['final_label'].values[0]
    print(index,old_label,new_label)
    if old_label==new_label: print("hello")
    df_full.loc[index,'new_Label']=new_label

#     print(df_full.loc[index]['new_Label'])

487 1 0
24744 1 0
24424 1 0
24208 1 0
24011 1 0
23554 1 0
23214 1 0
23200 1 0
24997 1 0
23001 1 0
22965 1 0
22834 1 0
22565 1 0
44844 1 0
22112 1 0
22045 1 0
23075 1 0
25277 1 0
25451 1 0
28124 1 0
28085 1 0
27944 1 0
27574 1 0
27548 1 0
27536 1 0
27099 1 0
26991 1 0
26872 1 0
26763 1 0
26742 1 0
26500 1 0
26078 1 0
25618 1 0
21488 1 0
21406 1 0
16804 1 0
16797 1 0
16762 1 0
16222 1 0
15814 1 0
15665 1 0
15592 1 0
15148 1 0
14614 1 0
14404 1 0
14239 1 0
14051 1 0
15682 1 0
17950 1 0
17953 1 0
21034 1 0
20760 1 0
20757 1 0
20116 1 0
19876 1 0
19607 1 0
19509 1 0
19397 1 0
19106 1 0
18723 1 0
18706 1 0
18539 1 0
18496 1 0
18453 1 0
18198 1 0
18091 1 0
21410 1 0
28609 1 0
28669 1 0
28787 1 0
39339 1 0
39246 1 0
39092 1 0
38822 1 0
38732 1 0
38488 1 0
38460 1 0
38395 1 0
38309 1 0
37937 1 0
37882 1 0
37778 1 0
37659 1 0
37406 1 0
37142 1 0
37070 1 0
36652 1 0
36612 1 0
38090 1 0
39783 1 0
39953 1 0
40061 1 0
44669 1 0
44667 1 0
44420 1 0
44162 1 0
43833 1 0
42971 1 0
42509 1 0
42255 1 0
42191 1 0
41981 1 0
41725 1 0
41516 1 0
41452 1 0
41356 1 0
41312 1 0
41069 1 0
40567 1 0
40331 1 0
40244 1 0
36577 1 0
36328 1 0
36039 1 0
31861 1 0
31830 1 0
31816 1 0
31769 1 0
31439 1 0
31315 1 0
30975 1 0
30870 1 0
30536 1 0
30009 1 0
30000 1 0
29765 1 0
29439 1 0
29364 1 0
29328 1 0
29150 1 0
28998 1 0
28993 1 0
13997 1 0
32262 1 0
32389 1 0
35942 1 0
35746 1 0
35649 1 0
35580 1 0
35503 1 0
35290 1 0
35066 1 0
34893 1 0
34716 1 0
34468 1 0
34245 1 0
33925 1 0
33825 1 0
33250 1 0
33238 1 0
33082 1 0
32994 1 0
32305 1 0
13552 1 0
44900 1 0
8769 1 0
3584 1 0
8910 1 0
9094 1 0
3470 1 0
9725 1 0
9775 1 0
9840 1 0
3159 1 0
3931 1 0
2844 1 0
10266 1 0
2708 1 0
2502 1 0
10425 1 0
10449 1 0
10714 1 0
10736 1 0
10827 1 0
10259 1 0
8266 1 0
8209 1 0
4056 1 0
5133 1 0
6226 1 0
6285 1 0
4971 1 0
6340 1 0
4865 1 0
6467 1 0
6612 1 0
6718 1 0
4702 1 0
4694 1 0
4571 1 0
8176 1 0
4209 1 0
8010 1 0
4395 1 0
11255 1 0
7913 1 0
4503 1 0
7623 1 0
7361 1 0
4510 1 0
7017 1 0
7808 1 0
11333 1 0
9487 1 0
5534 1 0
13353 1 0
13192 1 0
13312 1 0
13361 1 0
1146 1 0
12968 1 0
12522 1 0
12729 1 0
11838 1 0
913 1 0
645 1 0
12884 1 0
12063 1 0
12296 1 0
12107 1 0
11683 1 0
1387 1 0
1021 1 0
12829 1 0
34149 0 1
33994 0 1
43925 0 1
4525 0 1
798 0 1
4570 0 1
43912 0 1
43773 0 1
33727 0 1
34238 0 1
35256 0 1
35246 0 1
35128 0 1
4359 0 1
43153 0 1
34944 0 1
34932 0 1
34901 0 1
4396 0 1
43626 0 1
43307 0 1
34772 0 1
34723 0 1
4447 0 1
34525 0 1
34523 0 1
4469 0 1
33716 0 1
34411 0 1
34311 0 1
43540 0 1
34885 0 1
33711 0 1
43977 0 1
33627 0 1
635 0 1
44635 0 1
32224 0 1
5024 0 1
5125 0 1
5161 0 1
5236 0 1
31704 0 1
31662 0 1
31605 0 1
31558 0 1
31548 0 1
31511 0 1
5243 0 1
5298 0 1
5305 0 1
31295 0 1
31261 0 1
31000 0 1
5511 0 1
4960 0 1
44442 0 1
32391 0 1
33614 0 1
33336 0 1
4593 0 1
881 0 1
44070 0 1
4768 0 1
781 0 1
44227 0 1
44371 0 1
33142 0 1
33701 0 1
688 0 1
33032 0 1
32995 0 1
4859 0 1
32666 0 1
32664 0 1
32656 0 1
32594 0 1
32560 0 1
32516 0 1
32509 0 1
4807 0 1
35292 0 1
41240 0 1
35439 0 1
39454 0 1
2246 0 1
41551 0 1
39293 0 1
2279 0 1
39227 0 1
39179 0 1
2321 0 1
2354 0 1
39090 0 1
39024 0 1
39000 0 1
38936 0 1
2410 0 1
2459 0 1
38710 0 1
41642 0 1
38515 0 1
2476 0 1
41786 0 1
41795 0 1
38316 0 1
2791 0 1
39617 0 1
38308 0 1
39626 0 1
40807 0 1
40752 0 1
40663 0 1
1682 0 1
40538 0 1
41272 0 1
1735 0 1
1281 0 1
40332 0 1
1809 0 1
1989 0 1
41428 0 1
1193 0 1
40022 0 1
39998 0 1
2141 0 1
1180 0 1
39852 0 1
2202 0 1
39777 0 1
39750 0 1
2235 0 1
38301 0 1
38280 0 1
38127 0 1
42376 0 1
36531 0 1
36440 0 1
42409 0 1
42418 0 1
3720 0 1
36216 0 1
36187 0 1
42449 0 1
36135 0 1
42506 0 1
35997 0 1
42523 0 1
3949 0 1
35818 0 1
35796 0 1
4024 0 1
42526 0 1
35640 0 1
35596 0 1
4160 0 1
908 0 1
42322 0 1
36619 0 1
36958 0 1
1136 0 1
38105 0 1
2816 0 1
2878 0 1
38071 0 1
38040 0 1
3112 0 1
3138 0 1
37847 0 1
41914 0 1
35391 0 1
977 0 1
37599 0 1
37538 0 1
37530 0 1
30722 0 1
37506 0 1
3368 0 1
3370 0 1
37295 0 1
3440 0 1
42263 0 1
37067 0 1
3317 0 1
42802 0 1
13571 0 1
30622 0 1
19739 0 1
19735 0 1
10290 0 1
19692 0 1
10303 0 1
10306 0 1
19601 0 1
19594 0 1
19569 0 1
19514 0 1
10352 0 1
19773 0 1
19478 0 1
19422 0 1
19298 0 1
19235 0 1
19206 0 1
19160 0 1
19136 0 1
19019 0 1
18925 0 1
18837 0 1
18829 0 1
10456 0 1
18666 0 1
19451 0 1
18619 0 1
19777 0 1
20095 0 1
9408 0 1
21806 0 1
9677 0 1
9695 0 1
21447 0 1
21121 0 1
9926 0 1
21091 0 1
21073 0 1
10066 0 1
10236 0 1
19831 0 1
20976 0 1
20820 0 1
20771 0 1
20699 0 1
20551 0 1
20402 0 1
20300 0 1
20288 0 1
20262 0 1
20117 0 1
10271 0 1
20929 0 1
18573 0 1
18523 0 1
10841 0 1
15726 0 1
12878 0 1
15663 0 1
15366 0 1
15361 0 1
13053 0 1
15131 0 1
14753 0 1
13202 0 1
14548 0 1
14494 0 1
15768 0 1
14466 0 1
13247 0 1
14367 0 1
14246 0 1
13249 0 1
14159 0 1
13328 0 1
14015 0 1
13989 0 1
13910 0 1
13883 0 1
13738 0 1
13573 0 1
14447 0 1
12728 0 1
16062 0 1
18433 0 1
10885 0 1
18217 0 1
18133 0 1
17955 0 1
11496 0 1
11734 0 1
17661 0 1
17642 0 1
17485 0 1
17465 0 1
11931 0 1
17246 0 1
17119 0 1
17057 0 1
16995 0 1
16874 0 1
12318 0 1
16772 0 1
12345 0 1
16695 0 1
16621 0 1
16301 0 1
16119 0 1
12669 0 1
9295 0 1
22197 0 1
9281 0 1
22357 0 1
28619 0 1
6506 0 1
28597 0 1
6516 0 1
28563 0 1
28430 0 1
28375 0 1
28370 0 1
6632 0 1
6713 0 1
28042 0 1
27792 0 1
28769 0 1
6765 0 1
27674 0 1
27618 0 1
6786 0 1
27562 0 1
27551 0 1
6855 0 1
6975 0 1
27451 0 1
6989 0 1
27290 0 1
27214 0 1
27027 0 1
6390 0 1
28883 0 1
6387 0 1
30597 0 1
30578 0 1
5542 0 1
5567 0 1
30440 0 1
30270 0 1
30250 0 1
30206 0 1
30100 0 1
30061 0 1
30016 0 1
5683 0 1
5726 0 1
29896 0 1
29795 0 1
5802 0 1
29718 0 1
29648 0 1
29589 0 1
29526 0 1
29457 0 1
6070 0 1
6138 0 1
13407 0 1
29120 0 1
29086 0 1
6341 0 1
26986 0 1
30642 0 1
7226 0 1
26787 0 1
24409 0 1
24225 0 1
8191 0 1
24117 0 1
24056 0 1
24044 0 1
23586 0 1
8359 0 1
8471 0 1
24551 0 1
8688 0 1
23076 0 1
23034 0 1
8921 0 1
22933 0 1
22783 0 1
9225 0 1
22476 0 1
22433 0 1
9246 0 1
22377 0 1
23139 0 1
24610 0 1
8164 0 1
26773 0 1
7317 0 1
26667 0 1
7514 0 1
26307 0 1
26195 0 1
7637 0 1
26010 0 1
25997 0 1
25969 0 1
7896 0 1
25638 0 1
25535 0 1
25508 0 1
8003 0 1
25429 0 1
25396 0 1
25307 0 1
25279 0 1
25161 0 1
25083 0 1
8029 0 1
24918 0 1
8132 0 1
7309 0 1

In [37]:
df_full.head()

         ID  old_Label  new_Label
0   9706039          1          1
1  11177538          0          0
2   8624980          1          1
3  11192359          1          1
4  10891233          1          1

In [41]:
df_full[df_full.old_Label!=df_full.new_Label].shape,changed_IDs.shape

((633, 3), (633,))

In [42]:
### Save to .test file
np.savetxt(main_dir+'ytest_3.test',df_full.new_Label.values)